---
import Title from "./Title.astro";


---

<section id="about" class="about">
    <Title title="Nosotros" />
    <h4>
        La Chula Transportes es una empresa familiar en la localidad de Granadero Baigorria. Nos define el compromiso y la calidad de nuestro trabajo.
    </h4>
</section>

<style>
    h4{
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
</style>