---
import Title from "./Title.astro";
---

<section id="contact" class="contact">
  <Title
    title="Contacto"
    subtitle="Envianos tu consulta y te responderemos a la brevedad"
  />
  <form id="contact-form">
    <div class="form-control">
      <input placeholder="Nombre" type="text" required />
      <input placeholder="Apellido" type="text" required />
    </div>
    <input placeholder="E-mail" type="email" required />
    <textarea rows="15" placeholder="Consulta" required></textarea>
    <button id="submit">Enviar</button>
  </form>
</section>

<script>
  import Swal from 'sweetalert2'
  
  const submitBtn: HTMLElement | null = document.getElementById("submit");
  submitBtn?.addEventListener("click", (e) => {
    e.stopPropagation();
    const form: HTMLFormElement | null = document.getElementById(
      "contact-form"
    ) as HTMLFormElement;

    if (form?.checkValidity()) {
      e.preventDefault();
      Swal.fire({
        title: "Tu consulta se envió con éxito",
        text: "Re responderemos a la brevedad",
        icon: "success",
        confirmButtonColor: "#0c134f",
        confirmButtonText: "Cerrar",
      }).then(() => {
        // Llamo request api y envio
        form.reset();
      })
    } 
  });
</script>

<style>
  form {
    margin: 32px auto;
    display: block;
    width: 90%;
    @media screen and (min-width: 1440px) {
      width: 40%;
    }
    .form-control {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    input {
      width: 100%;
      border: 1px solid #000;
      padding: 16px;
      margin-bottom: 12px;
    }
    textarea {
      width: 100%;
      padding: 16px;
    }

    button {
      width: 100%;
      background-color: #0c134f;
      padding: 10px;
      color: #fff;
      border: 1px solid #0c134f;
      cursor: pointer;
    }
  }
</style>
